<!-- Begin UMN Footer -->
<footer id="umnhf-f" class="umnhf" role="contentinfo">
    <nav id="umnhf-f-myu">
        <h3 class="umnhf-f-title visually-hidden">For Students, Faculty, and Staff</h3>
        <ul role="presentation">
            <li><a href="http://onestop.umn.edu/">One Stop</a></li>
            <li><a href="https://www.myu.umn.edu/">MyU <span></span></a></li>
        </ul>
    </nav>
    <small>© <span id="cdate">{{ copyright_year }}</span> Regents of the University of Minnesota. All rights reserved. The University of Minnesota is an equal opportunity educator and employer. <a href="{{ privacy_link }}">Privacy Statement</a></small>
    <small><a href="{{ accessibility_reporting_link }}">{{ accessibility_reporting_text }}</a></small>
    <!-- Optional last updated link-->
    {% if last_updated %}<small>Current as of {{ last_updated }}</small>{% endif %} <!-- add time tag w datetime attr -->
</footer>
<!-- End UMN Footer -->
