{% set sitename_tag = (is_home_page) ? 'h1' : 'p' %}
<header class="folwell-identity">
    {% if parent_unit or first_line %}
        <p class="prefix-name">
            {% if parent_unit %}
                {% if parent_url %}<a href="{{ parent_url }}">{% endif %}
                {{ parent_unit }}
                {% if parent_url %}</a>{% endif %}
            {% elseif first_line %}
                <span class="two-lines">{{ first_line }}</span>
            {% endif %}
        </p>
    {% endif %}
    <{{ sitename_tag }} class="sitename">
    <a href="{{ path('<front>') }}">{{ site_name }}</a>
</{{ sitename_tag }}>
</header>